/* You can add global styles to this file, and also import other style files */
h1 {
    font-size: 200%;
    text-align: center;
    padding-top: 10px;
    color: darkslategray;
}

html {
     font-size: 62.5%;
     box-sizing: border-box;
     }
    
 *, *::before, *::after {
     margin: 0;
     padding: 0;
     box-sizing: inherit;
 }